html, body, .container {
    -webkit-app-region: drag;
    height: 100%;
}

#close {
    margin-top: 13px;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, 0px, 0);
        -webkit-animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: translate3d(0, -4px, 0);
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(0, 0px, 0);
    }
}

span.glyphicon-magnet {
    font-size: 48px;
    -webkit-animation: bounce 1s infinite;
}

.st-pointer {
    cursor: pointer;
}

.st-main-content {
    padding: 25px;
}

.st-title-bar {
    background: #f2f2f2;
    padding: 20px;
}

div.container div.st-centered {
    text-align: center;
}

.st-title {
    font-size: xx-large;
}

.st-punch-blue {
    color: #66afe9;
}

input, button, div#close, a {
    -webkit-app-region: no-drag;
}

.line {
    fill: none;
    stroke: #66afe9;
    stroke-width: 3px;
}

.area {
    fill: rgba(102, 175, 233, 0.1);
}

.axis path,
.axis line {
    fill: none;
    stroke: rgb(172, 172, 172);
    shape-rendering: crispEdges;
}

.axis text {
    stroke: #66afe9
}