html, body, .container {
    -webkit-app-region: drag;
    height: 100%;
}

#close {
    cursor: pointer;
}

div.row h1 span {
    color: #66afe9;
}

input, button, div#close {
    -webkit-app-region: no-drag;
}